---
default_language_version:
  python: python3.14

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/crate-ci/typos
    rev: v1.41.0
    hooks:
      - id: typos

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.11.1
    hooks:
      - id: pyproject-fmt
        args: [--indent, '4', --keep-full-version]

  - repo: https://github.com/ulgens/uv-lock-check
    rev: v0.1.0
    hooks:
      - id: uv-lock-check
        additional_dependencies:
          - uv==0.9.18

  - repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.5
    hooks:
      - id: rstcheck
        language: python
        additional_dependencies:
          - tomli==2.3.0

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/ulgens/ruffen-docs
    rev: 1def1ebbc1bd7f6b9934121948d0d06515f71e3f
    hooks:
      - id: blacken-docs
        language: python
        additional_dependencies:
          - black==25.12.0
        files: \.rst$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        language: python
        additional_dependencies:
          - black==25.12.0
          - pytest==9.0.2

  # TODO:
  #   Consider using with yamllint
  #   https://github.com/jumanjihouse/pre-commit-hook-yamlfmt?tab=readme-ov-file#combine-with-yamllint
  - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
    rev: 0.2.3
    hooks:
      - id: yamlfmt
        # Matching config for `prek sample-config` output
        args: [--mapping, '2', --sequence, '4', --offset, '2']
