[lint]
select = [
    # flake8-bugbear
    "B",
    # flake8-comprehensions
    "C4",
    # pycodestyle
    "E",
    # Pyflakes errors
    "F",
    # isort
    "I",
    # flake8-simplify
    "SIM",
    # flake8-tidy-imports
    "TID",
    # pyupgrade
    "UP",
    # Pyflakes warnings
    "W",
]
ignore = [
    # flake8-bugbear opinionated rules
    "B9",
    # line-too-long
    "E501",
    # suppressible-exception
    "SIM105",
    # if-else-block-instead-of-if-exp
    "SIM108",
]
extend-safe-fixes = [
    # non-pep585-annotation
    "UP006",
]
isort.required-imports = [ "from __future__ import annotations" ]
